<h1 class="text-center">{{title}}</h1>
<div class="container">
  <div class="row">
    <div class="col">
      <input class="form-control" [(ngModel)]="inputTarea" name="inputTarea" placeholder="Ingrese su tarea aquí" #valorInput/>
      <button class="btn btn-primary w-100 mt-2" (click)="agregar(valorInput.value);limpiar();">Agregar</button>
    </div>
    <div class="col">
      <ul *ngFor="let tarea of lista">
        <li class="mb-2">
          {{tarea.name}} 
        </li>
        <button class="btn btn-warning me-2" (click)="actualizar(tarea.id, valorInput.value)">Actualizar</button>
        <button class="btn btn-danger" (click)="eliminar(tarea.id);">Eliminar</button> 
        <hr/>
      </ul>
    </div>
  </div>
</div>

